/* src/components/ProjectModal.css */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    padding: 20px;
    outline: none;
    width: 400px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
   h1 {
    font-size: 1.8rem; /* Större rubrik */
    margin-bottom: 1rem; /* Utrymme under rubriken */
    color: #2c3e50; /* Färg för rubrik */
  }
  
  p {
    font-size: 1rem; /* Standardstorlek för paragraftext */
    line-height: 1.5; /* Radavstånd för bättre läsbarhet */
    margin: 0.5rem 0; /* Utrymme ovanför och nedanför varje paragraf */
  }
  
  strong {
    color: #2980b9; /* Färg för fetstil */
  }
  